<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
        body {
            background-image: url("https://i0.wp.com/www.ferreteriargentina.com.co/wp-content/uploads/2016/06/evia-beige-336402031.jpg?fit=320%2C320");
        }
        
        h1 {
            font-family: anaheim;
            font-size: 20px;
            color: #00874D;
            text-align: center;
            background-color: rgb(179, 179, 179);
        }
        
        article {
            color: #9F185D;
            font-family: anaheim;
            font-size: 12px;
            text-align: center;
            background-color: rgb(179, 179, 179);
        }
        
        b {
            font-family: anaheim;
            font-size: 20px;
            color: #9F185D;
            text-align: center;
            background-color: rgb(179, 179, 179);
        }
        
        p {
            font-family: anaheim;
            font-size: 20px;
            color: #232F85;
            text-align: center;
            background-color: rgb(179, 179, 179);
        }
    </style>
</head>

<body>
    <h1>Hello my name is <b>{{ name }}</b></h1>
    <article>I am {{ age }} years old</article>
    <article>NPM: 1706018920</article>
    <article>Currently studying at University of Indonesia</article>
    <article>My hobby is sleeping...</article>
    <article>Personal Description: 'Tis I, an introverted girl who is also Emotionally and Socially Constipated&trade;. Despite that, I am quite a nice person albeit a bit tactless at times.</article>
    <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t31.0-8/17505291_1383916368313404_700835835238721262_o.jpg?_nc_cat=0&oh=8d4480dfef43af602553b8521849a2a2&oe=5C302894" alt="Me" width="324" height="340" border="5">

    <p>My friends:</p>

    <h1>Name: Kenia Visakha Zerlinda</h1>
    <article>She is 19 years old</article>
    <article>NPM: 1706020396</article>
    <article>Currently studying at University of Indonesia</article>
    <article>Her hobbies are crafting, reading and writing</article>
    <article>She is a nice and outgoing person</article>
    <img src="https://i.imgur.com/ATR8VkH.jpg" alt="Kenia" width="324" height="440" border="5">

    <h1>Name: Nardiéna Althafia Pratama </h1>
    <article>She is 18 years old</article>
    <article>NPM: 1706067645</article>
    <article>Currently studying at University of Indonesia</article>
    <article>Her hobby is playing musical instruments</article>
    <article>She is a hardworking person who is good at difusing situations and is the class rep</article>
    <img src="https://x.detik.com/detail/intermeso/20160627/Cerita-Galau-Anak-Diplomat/images/11882843_10153653253398474_3630278921790599470_o-ywel76.png" alt="Nardiéna" width="524" height="340" border="5">


</body>

</html>